<% title "Edit announcement ID#{@announcement.id}" %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
	   		<div class="panel panel-default ">
	    		<div class="panel-heading" id="form_header">
					<h4>Edit News<small style="color: #fff;" > <br><%= @announcement.subject %></small>
				    <%= link_to announcement_path, style:"position: relative; margin-top: -17px; font-size: 30px; color: #FFF;", method: :delete, data: {confirm: "This action will delete this announcement, are you sure?"}, class:"pull-right" do %>
							<i class="fa fa-trash"></i>
						<% end %>
			    </h4>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
				<% if @announcement.photo.present? %>
					<div class="panel-footer">
						<div class="text-center" style="color: #777; margin-bottom: 10px;">
							<strong>current picture</strong>
						</div>
	          <%= image_tag @announcement.photo.url(:rectangle), class:"img-responsive", style: "margin: 0 auto; margin-bottom: 15px;"%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

