<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
   		<div class="panel panel-default">
    		<div class="panel-heading" id="form_header">
			    <h4 class="panel-title">Edit Picture<small style="color: #FFF;"> <br> <%= @course.title %></small></h4>
				    <%= link_to course_gallery_pic_path, method: :delete, style:"position: relative; margin-top: -35px; font-size: 30px; color: #FFF;", method: :delete, data: {confirm: "This action will delete this picture, are you sure?"}, class:"pull-right" do %>
							<i class="fa fa-trash"></i>
						<% end %>
			    
				</div>
		    <div class="panel-body new_class">
					<%= render 'form' %>
				</div>
				<% if @gallery_pic.image.present? %>
					<div class="panel-footer">
						<div class="text-center" style="color: #777; margin-bottom: 10px;">
							<strong>current picture</strong>
						</div>
	          <%= image_tag @gallery_pic.image.url(:medium), class:"img-responsive", style: "margin: 0 auto; margin-bottom: 15px;"%>
					</div>
				<% end %>
	  	</div> 
		</div> 	
	</div>	
</div>		