<% title "Edit #{@organizer.name}" %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
	   		<div class="panel panel-default">
	    		<div class="panel-heading">
					<h4>Edit Organizer Info</h4>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
				<% if @organizer.logo.present? %>
					<div class="panel-footer">
						<small>current picture</small>
	          <%= image_tag @organizer.logo.url(:medium), class:"img-responsive", style: "margin: 0 auto; margin-bottom: 15px;"%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

