<% title "Edit #{@organizer.name}" %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
	   		<div class="panel panel-default">
	    		<div class="panel-heading" id="form_header">
					<h4>Edit Manager Info<small style="color: #fff;" > <br><%= @organizer.name %></small>
					</h4>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
				
				<% if @organizer.logo.present? %>
					<div class="panel-footer">
						<div class="text-center" style="color: #777; margin-bottom: 10px;">
							<strong>current picture</strong>
						</div>
	          <%= image_tag @organizer.logo.url(:medium), class:"img-responsive", style: "margin: 0 auto; margin-bottom: 15px;"%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

