<% title "Followed courses" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h2  style="color: #777777;"> Followed Courses</h2>
    </div>
    <%= render @favorite_courses %>
  </div>
</div>