<% title "Following" %>
<div class="container">
  <div class="row">
    <div class=" col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
      <div class="profile_body" style="margin-bottom: 50px;">
				<div class="container-fluid title_header text-center">
			    <div class="title_text">
			      following
			    </div>
				</div>
    		<div class="container-fluid profile_content" style="background-color: #FFFFFF; padding-top:20px;">
    
    			  <%= render @favorite_courses %>
    
    		</div>
    	</div>
    </div>
  </div>
</div>