<div class="panel panel-default">
	<div class="panel-body">
		<h5>
			Step 3 of 5 <br>
			<small>
				<i class="fa fa-arrow-right"></i> payment info
			</small>
			<%= link_to @course, class:"btn btn-sm btn-warning pull-right", style:"margin-top: -15px;" do%>
        I'll skip the rest
      <% end -%>
    </h5>
  </div>
</div>