
<div class="nested-fields ">
  <div class="row ">
    <div class="col-xs-9 col-sm-10 col-md-10">
      <%= f.input :description, label: false %>
    </div>
    <div class="col-xs-3 col-sm-1 col-md-1">
      <%= link_to_remove_association f, class: "btn btn-danger", data: {confirm: "This action will delete this requirement, are you sure?"} do %>
         <i class="fa fa-times"></i> 
      <% end %>
    </div>
  </div>
</div>