<% title "Edit about #{@course.title}" %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<% if session[:setup_wizard] %>
				<%= render 'helper_code/wizard_controls', next_step_name: "contact", current_step_name: "about", step_number: "Step 2 of 4" %>
			<% end %>
   		<div class="panel panel-default">
    		<div class="panel-heading" id="form_header">
					<h4>Edit About<small style="color: #FFF;"> <br> for <%= @course.title %></small></h4>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

