  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: #d9534f">
          Read First! <br> <small>Does this work</small>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body text-left">
        We want people to have a great experience , but you also have a part to play, so do your due dilligence and reaseach the class properly before sending payment. Here are some things you can do: <br>
          <ol >
             <li>Check page for the class</li>
             <li>Check reviews for the class</li>
             <li>Get in contact with the Organizer</li>
          </ol>       
      </div>
    </div>
  </div>
    
  <%if !@course_payment.refund_instruction.blank? %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Refund Instructions
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body text-left dont-break-out">
          <%= @course_payment.refund_instruction %>
        </div>
      </div>
    </div>
  <% end -%>

  <%if @course_payment.trade_by_barter && current_user && !current_user.courses.empty? %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingZero">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero" >
            Trade by Barter 
          </a>
        </h4>
      </div>
      <div id="collapseZero" class="panel-collapse collapse dont-break-out" role="tabpanel" aria-labelledby="headingZero">
        <div class="panel-body text-left">
          <h4>Barter option available! 
            <small>
              <br>This course owner is willing to teach you this course in exchange of learning from one of the courses you teach on Skillmeng&trade;. Check the info below and see if you could strike a deal. Goodluck!
              <br> 
            </small>
          </h4>
          <hr style="margin: 0px">
          
          <% if !@course_payment.seek_course1.blank? %>
            <h5>This course owner is intrested in: <br>
              <small>
                <%= @course_payment.seek_course1.try(:titleize)%>,
                <%= @course_payment.seek_course2.try(:titleize)%>,
                <%= @course_payment.seek_course3.try(:titleize)%>  
              </small> 
            </h5>
          <% end -%>          

        </div>
      </div>
    </div>
  <% end -%>

</div>