<% title "Edit #{@course.title}" %>	
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<% if session[:setup_wizard] %>
				<%= render 'helper_code/wizard_controls', next_step_name: "about", current_step_name: "basic info", step_number: "Step 1 of 4" %>
			<% end %>
	   	<div class="panel panel-default">
    		<div class="panel-heading" id="form_header">
			    <h4 class="panel-title">
			    	 Edit basic info
					</h4>
				</div>
			  <div class="panel-body new_class">
					<%= render 'form' %>
				</div>
			</div>
			<% if @course.display_pic.present? %>
				<div class="panel-footer">
					<div class="text-center" style="color: #777; margin-bottom: 10px;">
						<strong>current picture</strong>
					</div>
          <%= image_tag @course.display_pic.url(:large), class:"img-responsive", style: "margin: 0 auto; margin-bottom: 15px;"%>
				</div>
			<% end %>
		</div> 
	</div>
</div>
