<% title "course payments"%>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<% if session[:setup_wizard] %>
				<%= render 'helper_code/wizard_controls', next_step_name: "schedule", current_step_name: "payment info", step_number: "Step 4 of 5" %>
			<% end %>
	   	<div class="panel panel-default">
	    	<div class="panel-heading" id="form_header">
					<h4>Payment details<small style="color: #FFF;"><br><%= @course.title %></small></h4>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
 <% unless @course_payment.errors.any? %>
  $(document).ready(function() { $(".add_plan").click() } )
 <% end %>
</script>
