// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#about_tabs {
  text-decoration:none;
  span {
    color: #333333;
  }
}

  .about_body {
		max-height: 150px;
		min-height: 100px;
		overflow-y: scroll;
	
		.well {
			margin: 0px 5px 5px 5px;
		}
	}
	
@media (min-width: 760px) and (max-width: 1000px) { 
    .about_body {
		max-height: 150px;
	}
}

@media (max-width: 760px){
	 .about_body {
		max-height: 300px;
	}
}