// Place all the styles related to the organizers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_course_org {
	height: 420px; 
	line-height: 420px; 
	vertical-align: middle; 
	padding: 50px;
	h1{
		-o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	  /* ...and now for the proper property */
	  transition:.5s;
	}
	h1:hover{
		color: #e27937;
	}
}

#add_tutor_org{
	height: 280px; 
	line-height: 280px; 
	vertical-align: middle; 
	padding: 50px;
	h1{
		-o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	  /* ...and now for the proper property */
	  transition:.5s;
	}
	h1:hover{
		color: #e27937;
	}
}

@media (min-width: 750px) {
	.organizer_content{
		#org_courses {
			padding: 50px;
		}
    .featured_menu{
  	    font-size: 1.8em;
	  }
  }
  
  #organizer_about_mobile{
  	display: none;
  }
  
}

@media (max-width: 750px) {
	.organizer_content{
	  .featured_menu{
	    font-size: 2em;
	    
	  }
  }
  
  #organizer_about_pc{
  	display: none;
  }
	
}