// Place all the styles related to the organizers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_org {
	vertical-align: middle; 
	padding: 20px;
}

.add_org_effect{
		-o-transition:.5s;
	  -ms-transition:.5s;
	  -moz-transition:.5s;
	  -webkit-transition:.5s;
	  /* ...and now for the proper property */
	  transition:.5s;
}
.add_org_effect:hover{
	color: #e27937;
}

@media (min-width: 750px) {
	.organizer_content{
		#org_courses {
			padding: 50px;
		}
    .featured_menu{
  	    font-size: 1.8em;
	  }
  }
  
  #organizer_about_mobile{
  	display: none;
  }
  
}

@media (max-width: 750px) {
	.organizer_content{
	  .featured_menu{
	    font-size: 2em;
	    
	  }
  }
  
  #org_info{
  	text-align: center;
  }
	
}