<% title " Edit review" %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
	   		<div class="panel panel-default">
	    		<div class="panel-heading" id="form_header">
				    <h4 class="panel-title"> Edit Review
					    	<small style="color: #FFF;"><br><%= @course.title %></small>
						</h4>
				    <%= link_to course_review_path, method: :delete, style:"position: relative; margin-top: -35px; font-size: 30px; color: #FFF;", method: :delete, data: {confirm: "This action will delete this Review, are you sure?"}, class:"pull-right" do %>
							<i class="fa fa-trash"></i>
						<% end %>
	
				</div>
			    <div class="panel-body new_class">
					<%= render 'form' %>
				</div>
		  	</div> 
		</div> 	
	</div>	
</div>		
