<% title "New review" %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
	   		<div class="panel panel-default">
	    		<div class="panel-heading">
				    <h4 class="panel-title"><i class="fa fa-star"></i> New Review</h4>
				</div>
			    <div class="panel-body new_class">
					<%= render 'form' %>
				</div>
		  	</div> 
		</div> 	
	</div>	
</div>		
