<% title " Report #{@course.title} " %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
	   		<div class="panel panel-default">
	    		<div class="panel-heading">
					<h4><i class="fa fa-flag"></i> Report <small> <br> <%= @course.title %></small></h4>
				</div>
				<div class="panel-body">
					<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>